.startServerButton {
    -fx-graphic: "icons/toolbar/Play.png"
}

.stopServerButton {
    -fx-graphic: "icons/toolbar/Stop Player.png";
}

.startGameButton {
    -fx-graphic: "icons/toolbar/Games.png";
}

.stopGameButton {
    -fx-graphic: "icons/toolbar/Games_Stop.png";
}