.hbox {
  -fx-border-color: black;
  -fx-border-style: solid;
  -fx-border-width: 0.3em;
  -fx-background-color: blue;
}
.vbox {
  -fx-border-color: red;
  -fx-border-style: solid;
  -fx-border-width: 0.3em;
  -fx-background-color: yellow;
}
.pane {
  -fx-border-color: green;
  -fx-border-style: solid;
  -fx-border-width: 0.3em;
  -fx-background-color: orange;
}